body  {
  font-family: "PT Sans", sans-serif;
  background-color: @body-bg;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color:#000000;
  width:100%;
  max-width: 320px;
  margin-left:  auto;
  margin-right: auto;
  box-sizing: border-box;
}


.photo {

}

.photo-video__title,
.video__title,
.review__title
{
  font-size: 18px;
  line-height: 26px;
}

.photo-block {
  text-align: left;
}

.photo-block__title,
.introduction__title,
.contact__title,
.impression__title,
.visited__title,
.emotion__title {
  font-weight: bold;


}

.photo-block__author {
  text-transform: capitalize;
}
.video {}

.video-wrapper{}

.review{}

.form {

}
.form-wrapper{}
.introduction{}
.contact{}
.impression{}
.visited {}
.emotion{}
.button-form{}

.inrto{
  width:100%;
}

.page-container{}
.reasons{}

.reasons__title,
.promo-wrapper__title {
  font-size: 18px;
  line-height: 26px;
}

.reasons__text {
  font-size: 14px;
  line-height: 26px;
}
.promo{}
.promo-wrapper{
  background-color:@promo-wrapper-bg;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}

.features {
  background-color: @bg-advantages;
}

.promo promo--invert{
}

.promo__wrapper promo__wrapper--invert{}

.advantages {
  background-color: @bg-advantages;
}

.advantages__wrapper{
}

.interested-in {}
.map {}








